/*start nav*/
.menu li{
    /*width: 100px;*/
}
.menu a{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.menu a:hover{
    background: lawngreen;
}

/*end nav*/

/*start slider*/
.slider img{
    height: 700px;
}
/*end slider*/

/*start feature*/
.feature img{
    height: 250px;
}
/*end feature*/
.monitoring img{
    height: 250px;
}
.crop-info img{
    height: 200px;
}