.menu li{
    width: 100px;
}
.menu li a{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.menu li a:hover{
    background-color: #3adccb;
    transition: 2s;
}

.slider img{
    height: 500px;
    object-fit: cover;
}

.about p{
    font-size: 18px;
    text-align: justify;
}
.text-justify{
    text-align: justify;
}

.skills .progress{
    height: 35px;
    margin-bottom: 18px;
}